<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
    <div style=" text-align: center">
	<form action="/fpwd" method="post" style="display:inline-block;">
        <h2>Category:
        <select name="cat">
            <option>Teacher</option>
            <option>Student</option>
        </select><br>
        <br>


                User Name: <input type="text" name="uname" placeholder="Enter username" size="40"/><br><br>

            <input type="submit" value="SUBMIT"/><br><br></h2>

    </form>
    </div>


</body>
</html>