<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Home Page</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head><body>

  
<div id="main_container">
	<div class="main_content">
    	<div id="header">
      
        </div>
        <div class="top_center_box"></div>
        <div class="center_box">

    
            <div id="menu_tab">                                     
                    <ul class="menu">                                                                               
                         <li><a href="home" class="nav">Home</a></li>
                         <li class="divider"></li>
                         <li><a href="alogin" class="nav">Admin</a></li>
                         <li class="divider"></li>
                         <li><a href="tlogin" class="nav">Teacher</a></li>
                         <li class="divider"></li>
                         <li><a href="slogin" class="nav">Student</a></li>
							<li class="divider"></li>
						 <li><a href="contact" class="nav">Contact</a></li>
							<li class="divider"></li>	
                    </ul>
            </div> 
          
				
            
            <div class="middle_box">
            
            	<div class="middle_box_text_content">
                	<div class="middle_box_title"></div>
                    <p class="middle_text"></p>
                </div>
          </div>
           
   <div class="left_content" width="100%">

		<div class="calendar_box" width="50%">
            	
            <div class="calendar_box_content" width="50%">
					
            	<h1 align="center" style="color:blue">Welcome to my Site</h1>
				<p align="left" style="color:black; font:bold">The Online Assessment System
Welcome to Online Assessment System.
The purpose of the system is to provide faculty with the tools necessary to conduct learning outcome assessment in an effective and efficient way.
The OAS provides immediate feedback regarding individual student and group performance on two types of tests,
called Student Tests (which are created by the OAS) and Teacher-Created Tests. 
Students and parents have complete access to Student Tests. Teachers are able to use the OAS to create and assign Teacher-Created Tests. 
A teacher must assign a Teacher-Created Test to a student in order for the student to access that test.
The OAS can be used for a variety of purposes. Students can gain valuable experience in becoming self-assessors, learning to evaluate their own work and
 educational progress. Parents can see the kinds of questions their children will be asked to answer on the end-of-year CRCT, EOCT, Georgia Writing, or 
GHSGT assessments and monitor their children's progress. Teachers can create customized tests as they complete instructional units or sequences of instruction.
                		 
					<!--	<form method="post" action="loginprocess.jsp" >
					<table>
					<tr><td style="color:navy;"><B> Login Form</B></td></tr>
					<tr><td>Category:</td><td><select name="category">
					<option>Select a Category</option>
					<option>Teacher</option>
					<option>Student</option>
					</select>
					</td></tr>
					<tr><td>User Name:</td><td><input type="text" name="username" /></td></tr>
								
					<tr><td>Password:</td><td><input type="password" name="userpass"/></td></tr>	
						
					<tr><td></td><td><input type="submit" value="Sign in"/> <a href="register.jsp">Register</a></td></tr>
					</table>
                     </form>
<-->
</div>
</div>
</div>            
                
            <!--end of left content-->


            <div class="right_content">
            
         
                <h1>Information</h1>
                
                <div class="project_box">
                    <img src="{{url_for('static',filename='images/images (9).jpg')}}" border="2" class="left_img"></img>
                   
                   </div>

                <div class="project_box">
                    <img src="{{url_for('static',filename='images/img-46.png')}}" class="left_img" border="0"></img>
                    
                </div>
                <div>
                
              <h1 ><br>Our main Services</h1>          
 </div>                   
                  <div class="services">
                    <ul>                                        
                       <li><a href="www.GOOGLE.com">New Ideas</a></li>
                       <li><a href="www.oracle.com">Oracle Web</a></li>
                    </ul>
                </div>
                
                 <div class="services">
                    <ul>                                        
                       <li><a href="www.google.com">New Ideas</a></li>
                       <li><a href="www.oracle.com">Oracle Web</a></li>
                    </ul>
                </div>  
				</div>
                
                
                 
                   
            
            <!--end of right content-->


	

<div class="bottom" style="max-width:1300px" >
<marquee behavior="alternate">
  <img class="mySlides" src="{{url_for('static',filename='images/images (6).jpg')}}">
  <img class="mySlides" src="{{url_for('static',filename='images/images (7).jpg')}}">
  <img class="mySlides" src="{{url_for('static',filename='images/images (8).jpg')}}">
  <img class="mySlides" src="{{url_for('static',filename='images/images (11).jpg')}}">
  <img class="mySlides" src="{{url_for('static',filename='images/images (12).jpg')}}">
  </marquee>
  <div align="center">
   <p style="font-size: 16px; font-weight: bold;">Copyright &#169 2017 - OAS Solutions Pvt Ltd. All Rights Reserved.
   </p>
   </div>
</div>
    


		</div> <!--end of center box-->
	</div> <!--end of main content-->
</div> <!--end of main container-->
</body></html>